<div class="modal fade" id="addVitalDocumentModalCenter" tabindex="-1" role="dialog" aria-labelledby="addVitalDocumentModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="addVitalDocumentModalLongTitle">Add Document: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <%= form_for :user_vital_documents, url: {action: "create"} , :html => { :id => "vital-documents-create-form", :method => :post}, :remote => true do |p| %>
              <%= p.hidden_field :user_id, :value => current_user.id %>
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Document Type:</label>
                </div>
                  <%= p.select :document_type, VitalDocument.document_types.keys, {}, { :class => "custom-select", :id => "inputGroupSelect01", :onchange => "handleSelectChange(event)"} %>
              </div>

              <div class="form-ajax"> 
              </div>

              <div class="modal-footer">
                <%= p.submit "Save", class: "btn btn-primary" %>
             </div>
            <% end %>
          </div>
          
      </div>
    </div>
  </div>


  <!-- https://stackoverflow.com/questions/23686265/saving-enum-from-select-in-rails-4-1/23686698 -->
  <!-- https://stackoverflow.com/questions/4081907/ruby-on-rails-form-for-select-field-with-class -->