<h2> ~~~ To dos: Nominate Deputies (after assessment) </h2>

<ul> 
  <li> Include ability to trigger action mailer and generate unique sign up link for Testator's deputies. </li>
  <li> Section that indexes all deputies of Testator. </li>
  <li> Figure out if need to make STI instead of enum roles in database. </li>
  <li> Retire radio buttons on sign up page </li>
</ul>