<div class="background">
    <div id="welcome">
      Memento Mori
      <p id="intro-text"> Archive Your Life For The Future of Your Loved Ones </p>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "boys-brother-children-551578.jpg", :class=> "d-block w-100" %>
    </div> 
    <div class="carousel-item">
      <%= image_tag "blowing-child-cute-790.jpg", :class=> "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "backlit-beach-children-939700.jpg", :class=> "d-block w-100" %>
    </div>
  </div>
</div>

<!-- https://stackoverflow.com/questions/14519997/actioncontrollerroutingerror-no-route-matches-get-assets-images-control-t -->
<!-- http://guides.rubyonrails.org/asset_pipeline.html#coding-links-to-assets -->

