<div class="container pt-4">

<div class="header">
  <h2> Advisory Assistance </h2>
  <br/> 
<div> We have partnered with a few lawyers if you need some assistance with writing your will. </div>
<br/>
<div id="map"></div>



 <!-- Google Maps API -->
    <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap" type="text/javascript">      
    </script>

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&libraries=places"></script> -->

<!-- helpful for markers: -->
<!-- https://medium.com/@limichelle21/integrating-google-maps-api-for-multiple-locations-a4329517977a -->