// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.background-color {
  background-color: #F0F8FF;
  padding: 18px;
}

div.header {
  text-align: center
}