// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.background {
  position: relative;
 /* height: 500px;
  width: 500px;*/
  z-index: 99;
  /*transform: translate(100px, 100px);*/

}

#welcome {
    position: absolute;
    background-color: rgba(256,256,256,0.4);
    left: 30%;
    top: 180px;
    font-weight: 200;
    font-size: 4em;
    padding: 30px;
    /*transform: translate(0%,-50%);*/
}

#intro-text {
  /*color: #3F3FBF;*/
  text-transform: uppercase;
  font-size: small;
}